UI menu.c32
PROMPT 0
TIMEOUT 30
DEFAULT kiosk

LABEL kiosk
  MENU LABEL Kiosk OS
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.img console=tty0 console=ttyS0,115200n8 vga=0x317 quiet

LABEL kioskdebug
  MENU LABEL Kiosk OS (debug shell)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.img console=tty0 console=ttyS0,115200n8 vga=0x317 kiosk.debug
